{% extends "dash.html" %} {% block content %}

<script defer src="{{ url_for('static', filename='js/tools/loadDatasets.js') }}"></script>

<div class="container-fluid mt-1">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">Mi Dashboard</h1>
    <i
      id="add-widget"
      class="fa-solid fa-circle-plus fa-2xl inegro icon-black"
    ></i>
  </div>


  <!-- pruebas -->

  



  <!-- Contenedor de Gridstack -->
  <div id="big_container" class="grid-stack"></div>

  





  <!-- Botón para abrir el modal -->


<!-- Modal -->
<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Cabecera del modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="miModalLabel">Widget - 1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Cuerpo del modal -->
      <div id="config-form" class="modal-body">
        
        <div class="mb-4">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control custom-input" id="username" name="username" required>
        
        </div>


        <input type="hidden" id="current-id" value="">

        <div class="mb-4">
          <label for="source-select" class="form-label">Data source</label>
          <select id="source-select" class="select-source" name="state" style="width: 100%">>
            <option></option>
          </select>
        </div>

        <div class="mb-4">
          <label for="data-select" class="form-label">Attribute</label>
          <select id="data-select" class="select-source" name="state" style="width: 100%" placeholder="Choose an attribute">
            <option></option>
          </select>
        </div>
      
      
        
      </div>
      <!-- Pie del modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button id="save-changes" type="button" class="btn btn-secondary" data-bs-dismiss="modal" disabled>Guardar cambios</button>
      </div>
    </div>
  </div>
</div>





  






 



  {% endblock %}
</div>
