<!-- app/templates/browse.html -->
{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="d-flex justify-content-center">
        <h2 class="fw-bold mt-3 mb-4">Explorar datasets</h2>
    </div>
    <div class="d-none col-0 col-md-0 mt-1">
        <div class="h-100 shadow rounded-1 bg-white me-1 d-flex flex-column justify-content-start align-items-center p-2">
            <h5 class="fw-bold">Etiquetas recomendadas</h5>
            <hr/>
            {% if recomendaciones_tags and recomendaciones_tags|length > 0 %}
                <ul class="list-unstyled">
                {% for rt in recomendaciones_tags %}
                    <li>{{ rt }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p class="text-muted">No hay recomendaciones aún</p>
            {% endif %}
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="shadow rounded-1 bg-white mt-1">
            <form method="POST" action="{{ url_for('search') }}">
                <br/>
                <div class="d-flex align-items-center ms-4 me-4">
                    <input type="text" class="form-control mi-input custom-input me-2 flex-grow-1"
                           id="search" name="search" value="{{ search_query }}" placeholder="Buscar datasets...">
                    <button type="submit" class="btn btn-success gordito ojo">Buscar</button>
                </div>
                <br/>
            </form>
        </div>
        
        {% if datasets %}
            {% for ds in datasets %}
                <!-- ds: (id, name, description, upload_date, tag, size, username) -->
                <div class="shadow rounded-1 bg-white mt-4 ojo">
                    <br>
                    <div class="ms-4 me-4 mt-1 mb-2">
                        <div class="d-flex">
                            <h3 class="iverde"><a href="{{ url_for('view', dataset_id=ds[0]) }}" class="text-decoration-none text-success">{{ ds[1] }}</a></h3>
                            <p class="ms-4 mt-2">por {{ ds[6] }}</p>
                        </div>
                        <div class="mb-1 mt-1">
                            <p>{{ ds[2] }}</p>
                            <h6 class="mt-3 igris">{{ ds[3] }}</h6>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        {% else %}
            <div class="shadow rounded-1 bg-white mt-4 ojo">
                <br>
                <div class="ms-4 me-4 mt-1 mb-2">
                    <p>no se encontraron datasets.</p>
                </div>
                <br>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
