<!-- app/templates/login.html -->

{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center ">
    <div class="col-md-6 shadow rounded-1 bg-white">
        <div class="ms-4 me-4">
            <h2 class="mt-5 mb-3">Iniciar Sesión</h2>
            <form method="POST" action="{{ url_for('login') }}">
                <div class="mb-4">
                    <label for="username" class="form-label">Nombre de Usuario</label>
                    <input type="text" class="form-control mi-input custom-input" id="username" name="username" required>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control mi-input custom-input" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-success mb-5 gordito  ojo">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
